

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  width: 638px;
  max-width: 584px;
  margin: 0 auto;

}

p{
  margin: 4px 8px;
  height: 20px;

  b{
    font-size: 18px;
  }
}
input{
  display: flex;
  z-index: 3;
  min-height: 44px;
  border: 1.5px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;

  padding: 0 15px;
  font-size: 16px;
}